body {
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.game {
  background: url("../img/space-background.jpg") center/cover no-repeat;
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
}

.score,
.lifes {
  font-size: 1.5em;
}

.regresar {
  position: absolute;
  top: 20px;
  left: 20px;
}

.regresar img {
  width: 10%;
}

.div-question {
  margin-top: 20px;
}

.naves {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  position: absolute;
  left: 10%;
}

.img-nave {
  width: 100%;
  animation: AnimarCohetes 0.1s ease infinite alternate;
}

.numeros {
  position: absolute;
  top: 35%;
  margin-left: 12.3%;
  transform: translate(-50%, -50%);
  width: 2.5%;
  filter: hue-rotate(95deg);

  z-index: 1;
}

.score {
  position: absolute;
  top: 10%;
  left: 75%;
}

.lifes {
  position: absolute;
  top: 10%;
  left: 10%;
}

#lifes {
  width: 30%;
}

.div-question {
  border: solid 10px rgb(52, 175, 212);
  background-color: rgb(255, 255, 255);
  filter: hue-rotate(95deg);

  border-radius: 30px;
  position: relative;
  top: 27%;
  left: 20%;
  width: 60%;
  height: 20%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.question {
  width: 20%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-Modal {
  width: 150px;
}

@keyframes AnimarCohetes {
  from {
    transform: rotate(-0.5deg);
  }
  to {
    transform: rotate(0.5deg);
  }
}

.tanque{
  width:6%;
  position: absolute;
  left: 90%;
  top: 130px;
  height: 100;
}